<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="insurance">
            <h2><span jhiTranslate="jiotmsappApp.insurance.detail.title">Insurance</span> {{ insurance.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jiotmsappApp.insurance.providerName">Provider Name</span></dt>
                <dd>
                    <span>{{ insurance.providerName }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.insurance.issueDate">Issue Date</span></dt>
                <dd>
                    <span>{{ insurance.issueDate }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.insurance.expiryDate">Expiry Date</span></dt>
                <dd>
                    <span>{{ insurance.expiryDate }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.insurance.policyDocument">Policy Document</span></dt>
                <dd>
                    <div *ngIf="insurance.policyDocument">
                        <a (click)="openFile(insurance.policyDocumentContentType, insurance.policyDocument)" jhiTranslate="entity.action.open">open</a>
                        {{ insurance.policyDocumentContentType }}, {{ byteSize(insurance.policyDocument) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.insurance.coverageStatement">Coverage Statement</span></dt>
                <dd>
                    <span>{{ insurance.coverageStatement }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.insurance.createdOn">Created On</span></dt>
                <dd>
                    <span>{{ insurance.createdOn }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.insurance.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ insurance.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.insurance.updatedOn">Updated On</span></dt>
                <dd>
                    <span>{{ insurance.updatedOn }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.insurance.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{ insurance.updatedBy }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/insurance', insurance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
