<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-insurance-heading" jhiTranslate="jiotmsappApp.insurance.home.createOrEditLabel">Create or edit a Insurance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.insurance.providerName" for="field_providerName">Provider Name</label>
                    <input type="text" class="form-control" name="providerName" id="field_providerName"
                           formControlName="providerName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.insurance.issueDate" for="field_issueDate">Issue Date</label>
                    <div class="input-group">
                        <input id="field_issueDate" type="text" class="form-control" name="issueDate" ngbDatepicker #issueDateDp="ngbDatepicker" formControlName="issueDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="issueDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.insurance.expiryDate" for="field_expiryDate">Expiry Date</label>
                    <div class="input-group">
                        <input id="field_expiryDate" type="text" class="form-control" name="expiryDate" ngbDatepicker #expiryDateDp="ngbDatepicker" formControlName="expiryDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expiryDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.insurance.policyDocument" for="field_policyDocument">Policy Document</label>
                    <div>
                        <div *ngIf="editForm.get('policyDocument')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('policyDocumentContentType')!.value, editForm.get('policyDocument')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('policyDocumentContentType')!.value }}, {{ byteSize(editForm.get('policyDocument')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({policyDocument: null});editForm.patchValue({policyDocumentContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_policyDocument" (change)="setFileData($event, 'policyDocument', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="policyDocument" id="field_policyDocument"
                           formControlName="policyDocument"/>
                    <input type="hidden" class="form-control" name="policyDocumentContentType" id="field_policyDocumentContentType"
                           formControlName="policyDocumentContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.insurance.coverageStatement" for="field_coverageStatement">Coverage Statement</label>
                    <input type="text" class="form-control" name="coverageStatement" id="field_coverageStatement"
                           formControlName="coverageStatement"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.insurance.createdOn" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" formControlName="createdOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.insurance.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.insurance.updatedOn" for="field_updatedOn">Updated On</label>
                    <div class="d-flex">
                        <input id="field_updatedOn" type="datetime-local" class="form-control" name="updatedOn" formControlName="updatedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.insurance.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
