<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accounts">
            <h2><span jhiTranslate="jiotmsappApp.accounts.detail.title">Accounts</span> {{ accounts.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jiotmsappApp.accounts.balance">Balance</span></dt>
                <dd>
                    <span>{{ accounts.balance }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.accounts.over30">Over 30</span></dt>
                <dd>
                    <span>{{ accounts.over30 }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.accounts.over60">Over 60</span></dt>
                <dd>
                    <span>{{ accounts.over60 }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.accounts.over90">Over 90</span></dt>
                <dd>
                    <span>{{ accounts.over90 }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.accounts.createdOn">Created On</span></dt>
                <dd>
                    <span>{{ accounts.createdOn }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.accounts.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ accounts.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.accounts.updatedOn">Updated On</span></dt>
                <dd>
                    <span>{{ accounts.updatedOn }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.accounts.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{ accounts.updatedBy }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.accounts.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="accounts.customer">
                        <a [routerLink]="['/customer', accounts.customer?.id, 'view']">{{ accounts.customer?.company }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/accounts', accounts.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
