<div>
    <h2 id="page-heading">
        <span jhiTranslate="jiotmsappApp.accounts.home.title">Accounts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accounts" [routerLink]="['/accounts/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jiotmsappApp.accounts.home.createLabel">
            Create a new Accounts
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="accounts?.length === 0">
        <span jhiTranslate="jiotmsappApp.accounts.home.notFound">No accounts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="accounts && accounts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.accounts.balance">Balance</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.accounts.over30">Over 30</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.accounts.over60">Over 60</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.accounts.over90">Over 90</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.accounts.createdOn">Created On</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.accounts.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.accounts.updatedOn">Updated On</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.accounts.updatedBy">Updated By</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let accounts of accounts ;trackBy: trackId">
                    <td><a [routerLink]="['/accounts', accounts.id, 'view']">{{ accounts.id }}</a></td>
                    <td>{{ accounts.balance }}</td>
                    <td>{{ accounts.over30 }}</td>
                    <td>{{ accounts.over60 }}</td>
                    <td>{{ accounts.over90 }}</td>
                    <td>{{ accounts.createdOn | date:'medium' }}</td>
                    <td>{{ accounts.createdBy }}</td>
                    <td>{{ accounts.updatedOn | date:'medium' }}</td>
                    <td>{{ accounts.updatedBy }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/accounts', accounts.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/accounts', accounts.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(accounts)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
