<div>
    <h2 id="page-heading">
        <span jhiTranslate="jiotmsappApp.carrier.home.title">Carriers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-carrier" [routerLink]="['/carrier/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jiotmsappApp.carrier.home.createLabel">
            Create a new Carrier
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="carriers?.length === 0">
        <span jhiTranslate="jiotmsappApp.carrier.home.notFound">No carriers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="carriers && carriers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.company">Company</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.firstName">First Name</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.lastName">Last Name</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.contactDesignation">Contact Designation</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.phoneNumber">Phone Number</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.phoneNumberExtention">Phone Number Extention</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.preffredContactType">Preffred Contact Type</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.website">Website</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.alternateContactPerson">Alternate Contact Person</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.alternateContactNumber">Alternate Contact Number</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.alternatePhoneNumberExtention">Alternate Phone Number Extention</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.alternateContactEmail">Alternate Contact Email</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.preferredContactTime">Preferred Contact Time</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.fax">Fax</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.address">Address</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.streetAddress">Street Address</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.city">City</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.stateProvince">State Province</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.country">Country</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.postalCode">Postal Code</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.dot">Dot</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.mc">Mc</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.taxId">Tax Id</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.companyLogo">Company Logo</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.customerSince">Customer Since</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.notes">Notes</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.contract">Contract</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.preffredCurrency">Preffred Currency</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.payterms">Payterms</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.timeZone">Time Zone</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.createdOn">Created On</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.updatedOn">Updated On</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.updatedBy">Updated By</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.carrier.operInsurance">Oper Insurance</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let carrier of carriers ;trackBy: trackId">
                    <td><a [routerLink]="['/carrier', carrier.id, 'view']">{{ carrier.id }}</a></td>
                    <td>{{ carrier.company }}</td>
                    <td>{{ carrier.firstName }}</td>
                    <td>{{ carrier.lastName }}</td>
                    <td jhiTranslate="{{ 'jiotmsappApp.Designation.' + carrier.contactDesignation }}">{{ carrier.contactDesignation }}</td>
                    <td>{{ carrier.email }}</td>
                    <td>{{ carrier.phoneNumber }}</td>
                    <td>{{ carrier.phoneNumberExtention }}</td>
                    <td jhiTranslate="{{ 'jiotmsappApp.PreffredContactType.' + carrier.preffredContactType }}">{{ carrier.preffredContactType }}</td>
                    <td>{{ carrier.website }}</td>
                    <td>{{ carrier.alternateContactPerson }}</td>
                    <td>{{ carrier.alternateContactNumber }}</td>
                    <td>{{ carrier.alternatePhoneNumberExtention }}</td>
                    <td>{{ carrier.alternateContactEmail }}</td>
                    <td>{{ carrier.preferredContactTime }}</td>
                    <td>{{ carrier.fax }}</td>
                    <td>{{ carrier.address }}</td>
                    <td>{{ carrier.streetAddress }}</td>
                    <td>{{ carrier.city }}</td>
                    <td>{{ carrier.stateProvince }}</td>
                    <td jhiTranslate="{{ 'jiotmsappApp.CountryEnum.' + carrier.country }}">{{ carrier.country }}</td>
                    <td>{{ carrier.postalCode }}</td>
                    <td>{{ carrier.dot }}</td>
                    <td>{{ carrier.mc }}</td>
                    <td>{{ carrier.taxId }}</td>
                    <td>
                        <a *ngIf="carrier.companyLogo" (click)="openFile(carrier.companyLogoContentType, carrier.companyLogo)">
                            <img [src]="'data:' + carrier.companyLogoContentType + ';base64,' + carrier.companyLogo" style="max-height: 30px;" alt="carrier image"/>
                        </a>
                        <span *ngIf="carrier.companyLogo">{{ carrier.companyLogoContentType }}, {{ byteSize(carrier.companyLogo) }}</span>
                    </td>
                    <td>{{ carrier.customerSince | date:'mediumDate' }}</td>
                    <td>{{ carrier.notes }}</td>
                    <td>
                        <a *ngIf="carrier.contract" (click)="openFile(carrier.contractContentType, carrier.contract)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="carrier.contract">{{ carrier.contractContentType }}, {{ byteSize(carrier.contract) }}</span>
                    </td>
                    <td jhiTranslate="{{ 'jiotmsappApp.ToggleStatus.' + carrier.status }}">{{ carrier.status }}</td>
                    <td jhiTranslate="{{ 'jiotmsappApp.CURRENCY.' + carrier.preffredCurrency }}">{{ carrier.preffredCurrency }}</td>
                    <td>{{ carrier.payterms }}</td>
                    <td>{{ carrier.timeZone | date:'medium' }}</td>
                    <td>{{ carrier.createdOn | date:'medium' }}</td>
                    <td>{{ carrier.createdBy }}</td>
                    <td>{{ carrier.updatedOn | date:'medium' }}</td>
                    <td>{{ carrier.updatedBy }}</td>
                    <td>
                        <div *ngIf="carrier.operInsurance">
                            <a [routerLink]="['/insurance', carrier.operInsurance?.id, 'view']" >{{ carrier.operInsurance?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/carrier', carrier.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/carrier', carrier.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(carrier)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
