<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-carrier-heading" jhiTranslate="jiotmsappApp.carrier.home.createOrEditLabel">Create or edit a Carrier</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.company" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                           formControlName="company"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.contactDesignation" for="field_contactDesignation">Contact Designation</label>
                    <select class="form-control" name="contactDesignation" formControlName="contactDesignation" id="field_contactDesignation">
                        <option value="MANAGER">{{ 'jiotmsappApp.Designation.MANAGER' | translate }}</option>
                        <option value="ACCOUNTANT">{{ 'jiotmsappApp.Designation.ACCOUNTANT' | translate }}</option>
                        <option value="OWNER">{{ 'jiotmsappApp.Designation.OWNER' | translate }}</option>
                        <option value="DISPATCHER">{{ 'jiotmsappApp.Designation.DISPATCHER' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="number" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.phoneNumberExtention" for="field_phoneNumberExtention">Phone Number Extention</label>
                    <input type="number" class="form-control" name="phoneNumberExtention" id="field_phoneNumberExtention"
                           formControlName="phoneNumberExtention"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.preffredContactType" for="field_preffredContactType">Preffred Contact Type</label>
                    <select class="form-control" name="preffredContactType" formControlName="preffredContactType" id="field_preffredContactType">
                        <option value="PHONE">{{ 'jiotmsappApp.PreffredContactType.PHONE' | translate }}</option>
                        <option value="EMAIL">{{ 'jiotmsappApp.PreffredContactType.EMAIL' | translate }}</option>
                        <option value="FAX">{{ 'jiotmsappApp.PreffredContactType.FAX' | translate }}</option>
                        <option value="MAIL">{{ 'jiotmsappApp.PreffredContactType.MAIL' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.website" for="field_website">Website</label>
                    <input type="text" class="form-control" name="website" id="field_website"
                           formControlName="website"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.alternateContactPerson" for="field_alternateContactPerson">Alternate Contact Person</label>
                    <input type="text" class="form-control" name="alternateContactPerson" id="field_alternateContactPerson"
                           formControlName="alternateContactPerson"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.alternateContactNumber" for="field_alternateContactNumber">Alternate Contact Number</label>
                    <input type="number" class="form-control" name="alternateContactNumber" id="field_alternateContactNumber"
                           formControlName="alternateContactNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.alternatePhoneNumberExtention" for="field_alternatePhoneNumberExtention">Alternate Phone Number Extention</label>
                    <input type="number" class="form-control" name="alternatePhoneNumberExtention" id="field_alternatePhoneNumberExtention"
                           formControlName="alternatePhoneNumberExtention"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.alternateContactEmail" for="field_alternateContactEmail">Alternate Contact Email</label>
                    <input type="text" class="form-control" name="alternateContactEmail" id="field_alternateContactEmail"
                           formControlName="alternateContactEmail"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.preferredContactTime" for="field_preferredContactTime">Preferred Contact Time</label>
                    <input type="text" class="form-control" name="preferredContactTime" id="field_preferredContactTime"
                           formControlName="preferredContactTime"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.fax" for="field_fax">Fax</label>
                    <input type="number" class="form-control" name="fax" id="field_fax"
                           formControlName="fax"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.streetAddress" for="field_streetAddress">Street Address</label>
                    <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                           formControlName="streetAddress"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.stateProvince" for="field_stateProvince">State Province</label>
                    <input type="text" class="form-control" name="stateProvince" id="field_stateProvince"
                           formControlName="stateProvince"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.country" for="field_country">Country</label>
                    <select class="form-control" name="country" formControlName="country" id="field_country">
                        <option value="USA">{{ 'jiotmsappApp.CountryEnum.USA' | translate }}</option>
                        <option value="CANADA">{{ 'jiotmsappApp.CountryEnum.CANADA' | translate }}</option>
                        <option value="MEXICO">{{ 'jiotmsappApp.CountryEnum.MEXICO' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                           formControlName="postalCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.dot" for="field_dot">Dot</label>
                    <input type="text" class="form-control" name="dot" id="field_dot"
                           formControlName="dot"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.mc" for="field_mc">Mc</label>
                    <input type="number" class="form-control" name="mc" id="field_mc"
                           formControlName="mc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.taxId" for="field_taxId">Tax Id</label>
                    <input type="text" class="form-control" name="taxId" id="field_taxId"
                           formControlName="taxId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.companyLogo" for="field_companyLogo">Company Logo</label>
                    <div>
                        <img [src]="'data:' + editForm.get('companyLogoContentType')!.value + ';base64,' + editForm.get('companyLogo')!.value" style="max-height: 100px;" *ngIf="editForm.get('companyLogo')!.value" alt="carrier image"/>
                        <div *ngIf="editForm.get('companyLogo')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('companyLogoContentType')!.value }}, {{ byteSize(editForm.get('companyLogo')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('companyLogo', 'companyLogoContentType', 'file_companyLogo')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_companyLogo" (change)="setFileData($event, 'companyLogo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="companyLogo" id="field_companyLogo"
                           formControlName="companyLogo"/>
                    <input type="hidden" class="form-control" name="companyLogoContentType" id="field_companyLogoContentType"
                           formControlName="companyLogoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.customerSince" for="field_customerSince">Customer Since</label>
                    <div class="input-group">
                        <input id="field_customerSince" type="text" class="form-control" name="customerSince" ngbDatepicker #customerSinceDp="ngbDatepicker" formControlName="customerSince"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="customerSinceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.notes" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                           formControlName="notes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.contract" for="field_contract">Contract</label>
                    <div>
                        <div *ngIf="editForm.get('contract')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('contractContentType')!.value, editForm.get('contract')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('contractContentType')!.value }}, {{ byteSize(editForm.get('contract')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({contract: null});editForm.patchValue({contractContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_contract" (change)="setFileData($event, 'contract', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="contract" id="field_contract"
                           formControlName="contract"/>
                    <input type="hidden" class="form-control" name="contractContentType" id="field_contractContentType"
                           formControlName="contractContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="ACTIVE">{{ 'jiotmsappApp.ToggleStatus.ACTIVE' | translate }}</option>
                        <option value="INACTIVE">{{ 'jiotmsappApp.ToggleStatus.INACTIVE' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.preffredCurrency" for="field_preffredCurrency">Preffred Currency</label>
                    <select class="form-control" name="preffredCurrency" formControlName="preffredCurrency" id="field_preffredCurrency">
                        <option value="USD">{{ 'jiotmsappApp.CURRENCY.USD' | translate }}</option>
                        <option value="CAD">{{ 'jiotmsappApp.CURRENCY.CAD' | translate }}</option>
                        <option value="INR">{{ 'jiotmsappApp.CURRENCY.INR' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.payterms" for="field_payterms">Payterms</label>
                    <input type="text" class="form-control" name="payterms" id="field_payterms"
                           formControlName="payterms"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.timeZone" for="field_timeZone">Time Zone</label>
                    <div class="d-flex">
                        <input id="field_timeZone" type="datetime-local" class="form-control" name="timeZone" formControlName="timeZone" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.createdOn" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" formControlName="createdOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.updatedOn" for="field_updatedOn">Updated On</label>
                    <div class="d-flex">
                        <input id="field_updatedOn" type="datetime-local" class="form-control" name="updatedOn" formControlName="updatedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.carrier.operInsurance" for="field_operInsurance">Oper Insurance</label>
                    <select class="form-control" id="field_operInsurance" name="operInsurance" formControlName="operInsurance">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="insuranceOption.id === editForm.get('operInsurance')!.value?.id ? editForm.get('operInsurance')!.value : insuranceOption" *ngFor="let insuranceOption of operinsurances; trackBy: trackById">{{ insuranceOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
