<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-account-history-heading" jhiTranslate="jiotmsappApp.accountHistory.home.createOrEditLabel">Create or edit a Account History</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.accountHistory.enityName" for="field_enityName">Enity Name</label>
                    <input type="text" class="form-control" name="enityName" id="field_enityName"
                           formControlName="enityName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.accountHistory.entityLink" for="field_entityLink">Entity Link</label>
                    <input type="text" class="form-control" name="entityLink" id="field_entityLink"
                           formControlName="entityLink"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.accountHistory.action" for="field_action">Action</label>
                    <input type="text" class="form-control" name="action" id="field_action"
                           formControlName="action"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
