<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accountHistory">
            <h2><span jhiTranslate="jiotmsappApp.accountHistory.detail.title">Account History</span> {{ accountHistory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jiotmsappApp.accountHistory.enityName">Enity Name</span></dt>
                <dd>
                    <span>{{ accountHistory.enityName }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.accountHistory.entityLink">Entity Link</span></dt>
                <dd>
                    <span>{{ accountHistory.entityLink }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.accountHistory.action">Action</span></dt>
                <dd>
                    <span>{{ accountHistory.action }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/account-history', accountHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
