<div>
    <h2 id="page-heading">
        <span jhiTranslate="jiotmsappApp.invoiceHistory.home.title">Invoice Histories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice-history" [routerLink]="['/invoice-history/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jiotmsappApp.invoiceHistory.home.createLabel">
            Create a new Invoice History
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="invoiceHistories?.length === 0">
        <span jhiTranslate="jiotmsappApp.invoiceHistory.home.notFound">No invoiceHistories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="invoiceHistories && invoiceHistories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.invoiceHistory.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.invoiceHistory.comment">Comment</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.invoiceHistory.createdOn">Created On</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.invoiceHistory.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.invoiceHistory.updatedOn">Updated On</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.invoiceHistory.updatedBy">Updated By</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.invoiceHistory.previous">Previous</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.invoiceHistory.next">Next</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.invoiceHistory.invoice">Invoice</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoiceHistory of invoiceHistories ;trackBy: trackId">
                    <td><a [routerLink]="['/invoice-history', invoiceHistory.id, 'view']">{{ invoiceHistory.id }}</a></td>
                    <td jhiTranslate="{{ 'jiotmsappApp.InvoiceStatus.' + invoiceHistory.status }}">{{ invoiceHistory.status }}</td>
                    <td>{{ invoiceHistory.comment }}</td>
                    <td>{{ invoiceHistory.createdOn | date:'medium' }}</td>
                    <td>{{ invoiceHistory.createdBy }}</td>
                    <td>{{ invoiceHistory.updatedOn | date:'medium' }}</td>
                    <td>{{ invoiceHistory.updatedBy }}</td>
                    <td>
                        <div *ngIf="invoiceHistory.previous">
                            <a [routerLink]="['/invoice-history', invoiceHistory.previous?.id, 'view']" >{{ invoiceHistory.previous?.status }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="invoiceHistory.next">
                            <a [routerLink]="['/invoice-history', invoiceHistory.next?.id, 'view']" >{{ invoiceHistory.next?.status }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="invoiceHistory.invoice">
                            <a [routerLink]="['/invoice', invoiceHistory.invoice?.id, 'view']" >{{ invoiceHistory.invoice?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/invoice-history', invoiceHistory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/invoice-history', invoiceHistory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(invoiceHistory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
