<div>
    <h2 id="page-heading">
        <span jhiTranslate="jiotmsappApp.email.home.title">Emails</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-email" [routerLink]="['/email/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jiotmsappApp.email.home.createLabel">
            Create a new Email
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="emails?.length === 0">
        <span jhiTranslate="jiotmsappApp.email.home.notFound">No emails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="emails && emails.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userto"><span jhiTranslate="jiotmsappApp.email.userto">Userto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="usercc"><span jhiTranslate="jiotmsappApp.email.usercc">Usercc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userbcc"><span jhiTranslate="jiotmsappApp.email.userbcc">Userbcc</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subject"><span jhiTranslate="jiotmsappApp.email.subject">Subject</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="message"><span jhiTranslate="jiotmsappApp.email.message">Message</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="multipart"><span jhiTranslate="jiotmsappApp.email.multipart">Multipart</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="htmlBody"><span jhiTranslate="jiotmsappApp.email.htmlBody">Html Body</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="attachment"><span jhiTranslate="jiotmsappApp.email.attachment">Attachment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="attachmentName"><span jhiTranslate="jiotmsappApp.email.attachmentName">Attachment Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="jiotmsappApp.email.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sentDateTime"><span jhiTranslate="jiotmsappApp.email.sentDateTime">Sent Date Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdOn"><span jhiTranslate="jiotmsappApp.email.createdOn">Created On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="jiotmsappApp.email.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedOn"><span jhiTranslate="jiotmsappApp.email.updatedOn">Updated On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedBy"><span jhiTranslate="jiotmsappApp.email.updatedBy">Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="customer.company"><span jhiTranslate="jiotmsappApp.email.customer">Customer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let email of emails ;trackBy: trackId">
                    <td><a [routerLink]="['/email', email.id, 'view']">{{ email.id }}</a></td>
                    <td>{{ email.userto }}</td>
                    <td>{{ email.usercc }}</td>
                    <td>{{ email.userbcc }}</td>
                    <td>{{ email.subject }}</td>
                    <td>{{ email.message }}</td>
                    <td>{{ email.multipart }}</td>
                    <td>{{ email.htmlBody }}</td>
                    <td>
                        <a *ngIf="email.attachment" (click)="openFile(email.attachmentContentType, email.attachment)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="email.attachment">{{ email.attachmentContentType }}, {{ byteSize(email.attachment) }}</span>
                    </td>
                    <td>{{ email.attachmentName }}</td>
                    <td>{{ email.status }}</td>
                    <td>{{ email.sentDateTime | date:'medium' }}</td>
                    <td>{{ email.createdOn | date:'medium' }}</td>
                    <td>{{ email.createdBy }}</td>
                    <td>{{ email.updatedOn | date:'medium' }}</td>
                    <td>{{ email.updatedBy }}</td>
                    <td>
                        <div *ngIf="email.customer">
                            <a [routerLink]="['/customer', email.customer?.id, 'view']" >{{ email.customer?.company }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/email', email.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/email', email.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(email)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="emails && emails.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
