<div>
    <h2 id="page-heading">
        <span jhiTranslate="jiotmsappApp.equipment.home.title">Equipment</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-equipment" [routerLink]="['/equipment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jiotmsappApp.equipment.home.createLabel">
            Create a new Equipment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="equipment?.length === 0">
        <span jhiTranslate="jiotmsappApp.equipment.home.notFound">No equipment found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="equipment && equipment.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.enumber">Enumber</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.ownershiptype">Ownershiptype</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.vin">Vin</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.make">Make</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.model">Model</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.year">Year</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.yearPurchased">Year Purchased</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.licensePlateNumber">License Plate Number</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.licensePlateExpiration">License Plate Expiration</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.inspectionStickerExpiration">Inspection Sticker Expiration</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.createdOn">Created On</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.updatedOn">Updated On</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.updatedBy">Updated By</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.equipment.insurance">Insurance</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let equipment of equipment ;trackBy: trackId">
                    <td><a [routerLink]="['/equipment', equipment.id, 'view']">{{ equipment.id }}</a></td>
                    <td>{{ equipment.enumber }}</td>
                    <td jhiTranslate="{{ 'jiotmsappApp.EquipmentEnum.' + equipment.type }}">{{ equipment.type }}</td>
                    <td>{{ equipment.ownershiptype }}</td>
                    <td jhiTranslate="{{ 'jiotmsappApp.ToggleStatus.' + equipment.status }}">{{ equipment.status }}</td>
                    <td>{{ equipment.vin }}</td>
                    <td>{{ equipment.make }}</td>
                    <td>{{ equipment.model }}</td>
                    <td>{{ equipment.description }}</td>
                    <td>{{ equipment.year }}</td>
                    <td>{{ equipment.yearPurchased }}</td>
                    <td>{{ equipment.licensePlateNumber }}</td>
                    <td>{{ equipment.licensePlateExpiration | date:'mediumDate' }}</td>
                    <td>{{ equipment.inspectionStickerExpiration | date:'mediumDate' }}</td>
                    <td>{{ equipment.createdOn | date:'medium' }}</td>
                    <td>{{ equipment.createdBy }}</td>
                    <td>{{ equipment.updatedOn | date:'medium' }}</td>
                    <td>{{ equipment.updatedBy }}</td>
                    <td>
                        <div *ngIf="equipment.insurance">
                            <a [routerLink]="['/insurance', equipment.insurance?.id, 'view']" >{{ equipment.insurance?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/equipment', equipment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/equipment', equipment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(equipment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
