<div>
    <h2 id="page-heading">
        <span jhiTranslate="jiotmsappApp.transactionsRecord.home.title">Transactions Records</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transactions-record" [routerLink]="['/transactions-record/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jiotmsappApp.transactionsRecord.home.createLabel">
            Create a new Transactions Record
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="transactionsRecords?.length === 0">
        <span jhiTranslate="jiotmsappApp.transactionsRecord.home.notFound">No transactionsRecords found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transactionsRecords && transactionsRecords.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="txType"><span jhiTranslate="jiotmsappApp.transactionsRecord.txType">Tx Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="jiotmsappApp.transactionsRecord.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="txAmmount"><span jhiTranslate="jiotmsappApp.transactionsRecord.txAmmount">Tx Ammount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdOn"><span jhiTranslate="jiotmsappApp.transactionsRecord.createdOn">Created On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="jiotmsappApp.transactionsRecord.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedOn"><span jhiTranslate="jiotmsappApp.transactionsRecord.updatedOn">Updated On</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedBy"><span jhiTranslate="jiotmsappApp.transactionsRecord.updatedBy">Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="customer.company"><span jhiTranslate="jiotmsappApp.transactionsRecord.customer">Customer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transactionsRecord of transactionsRecords ;trackBy: trackId">
                    <td><a [routerLink]="['/transactions-record', transactionsRecord.id, 'view']">{{ transactionsRecord.id }}</a></td>
                    <td jhiTranslate="{{ 'jiotmsappApp.TransactionType.' + transactionsRecord.txType }}">{{ transactionsRecord.txType }}</td>
                    <td>{{ transactionsRecord.description }}</td>
                    <td>{{ transactionsRecord.txAmmount }}</td>
                    <td>{{ transactionsRecord.createdOn | date:'medium' }}</td>
                    <td>{{ transactionsRecord.createdBy }}</td>
                    <td>{{ transactionsRecord.updatedOn | date:'medium' }}</td>
                    <td>{{ transactionsRecord.updatedBy }}</td>
                    <td>
                        <div *ngIf="transactionsRecord.customer">
                            <a [routerLink]="['/customer', transactionsRecord.customer?.id, 'view']" >{{ transactionsRecord.customer?.company }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/transactions-record', transactionsRecord.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/transactions-record', transactionsRecord.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(transactionsRecord)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="transactionsRecords && transactionsRecords.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
