<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transactions-record-heading" jhiTranslate="jiotmsappApp.transactionsRecord.home.createOrEditLabel">Create or edit a Transactions Record</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.transactionsRecord.txType" for="field_txType">Tx Type</label>
                    <select class="form-control" name="txType" formControlName="txType" id="field_txType">
                        <option value="CREDIT">{{ 'jiotmsappApp.TransactionType.CREDIT' | translate }}</option>
                        <option value="INVOICE">{{ 'jiotmsappApp.TransactionType.INVOICE' | translate }}</option>
                        <option value="PAYMENT">{{ 'jiotmsappApp.TransactionType.PAYMENT' | translate }}</option>
                        <option value="REFUND">{{ 'jiotmsappApp.TransactionType.REFUND' | translate }}</option>
                        <option value="ADJUSTMENT">{{ 'jiotmsappApp.TransactionType.ADJUSTMENT' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.transactionsRecord.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.transactionsRecord.txAmmount" for="field_txAmmount">Tx Ammount</label>
                    <input type="number" class="form-control" name="txAmmount" id="field_txAmmount"
                           formControlName="txAmmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.transactionsRecord.createdOn" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" formControlName="createdOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.transactionsRecord.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.transactionsRecord.updatedOn" for="field_updatedOn">Updated On</label>
                    <div class="d-flex">
                        <input id="field_updatedOn" type="datetime-local" class="form-control" name="updatedOn" formControlName="updatedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.transactionsRecord.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.transactionsRecord.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption" *ngFor="let customerOption of customers; trackBy: trackById">{{ customerOption.company }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
