<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span jhiTranslate="jiotmsappApp.invoice.detail.title">Invoice</span> {{ invoice.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jiotmsappApp.invoice.orderNo">Order No</span></dt>
                <dd>
                    <span>{{ invoice.orderNo }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.invoiceNo">Invoice No</span></dt>
                <dd>
                    <span>{{ invoice.invoiceNo }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.taxRate">Tax Rate</span></dt>
                <dd>
                    <span>{{ invoice.taxRate }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.taxType">Tax Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jiotmsappApp.TaxType.' + invoice.taxType }}">{{ invoice.taxType }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.currency">Currency</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jiotmsappApp.CURRENCY.' + invoice.currency }}">{{ invoice.currency }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.invoiceTaxTotal">Invoice Tax Total</span></dt>
                <dd>
                    <span>{{ invoice.invoiceTaxTotal }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.invoiceSubTotal">Invoice Sub Total</span></dt>
                <dd>
                    <span>{{ invoice.invoiceSubTotal }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.invoiceTotal">Invoice Total</span></dt>
                <dd>
                    <span>{{ invoice.invoiceTotal }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.invoiceDate">Invoice Date</span></dt>
                <dd>
                    <span>{{ invoice.invoiceDate }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.invoicePaidDate">Invoice Paid Date</span></dt>
                <dd>
                    <span>{{ invoice.invoicePaidDate }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.refOption1">Ref Option 1</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jiotmsappApp.InvoiveRef.' + invoice.refOption1 }}">{{ invoice.refOption1 }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.refValue1">Ref Value 1</span></dt>
                <dd>
                    <span>{{ invoice.refValue1 }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.refOption2">Ref Option 2</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jiotmsappApp.InvoiveRef.' + invoice.refOption2 }}">{{ invoice.refOption2 }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.refValue2">Ref Value 2</span></dt>
                <dd>
                    <span>{{ invoice.refValue2 }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.refOption3">Ref Option 3</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jiotmsappApp.InvoiveRef.' + invoice.refOption3 }}">{{ invoice.refOption3 }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.refValue3">Ref Value 3</span></dt>
                <dd>
                    <span>{{ invoice.refValue3 }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.payRefNo">Pay Ref No</span></dt>
                <dd>
                    <span>{{ invoice.payRefNo }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.invoiceDueDate">Invoice Due Date</span></dt>
                <dd>
                    <span>{{ invoice.invoiceDueDate }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jiotmsappApp.InvoiceStatus.' + invoice.status }}">{{ invoice.status }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.invoicePdf">Invoice Pdf</span></dt>
                <dd>
                    <div *ngIf="invoice.invoicePdf">
                        <a (click)="openFile(invoice.invoicePdfContentType, invoice.invoicePdf)" jhiTranslate="entity.action.open">open</a>
                        {{ invoice.invoicePdfContentType }}, {{ byteSize(invoice.invoicePdf) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.remarks">Remarks</span></dt>
                <dd>
                    <span>{{ invoice.remarks }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.customerInfo">Customer Info</span></dt>
                <dd>
                    <span>{{ invoice.customerInfo }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.payterm">Payterm</span></dt>
                <dd>
                    <span>{{ invoice.payterm }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.balance">Balance</span></dt>
                <dd>
                    <span>{{ invoice.balance }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.advance">Advance</span></dt>
                <dd>
                    <span>{{ invoice.advance }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.discount">Discount</span></dt>
                <dd>
                    <span>{{ invoice.discount }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.createdOn">Created On</span></dt>
                <dd>
                    <span>{{ invoice.createdOn }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ invoice.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.updatedOn">Updated On</span></dt>
                <dd>
                    <span>{{ invoice.updatedOn }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{ invoice.updatedBy }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.notification">Notification</span></dt>
                <dd>
                    <div *ngIf="invoice.notification">
                        <a [routerLink]="['/email', invoice.notification?.id, 'view']">{{ invoice.notification?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.trip">Trip</span></dt>
                <dd>
                    <div *ngIf="invoice.trip">
                        <a [routerLink]="['/trip', invoice.trip?.id, 'view']">{{ invoice.trip?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.invoice.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="invoice.customer">
                        <a [routerLink]="['/customer', invoice.customer?.id, 'view']">{{ invoice.customer?.company }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice', invoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
