<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productItem">
            <h2><span jhiTranslate="jiotmsappApp.productItem.detail.title">Product Item</span> {{ productItem.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jiotmsappApp.productItem.itemName">Item Name</span></dt>
                <dd>
                    <span>{{ productItem.itemName }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.productItem.description">Description</span></dt>
                <dd>
                    <span>{{ productItem.description }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.productItem.defaultQty">Default Qty</span></dt>
                <dd>
                    <span>{{ productItem.defaultQty }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.productItem.price">Price</span></dt>
                <dd>
                    <span>{{ productItem.price }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.productItem.createdOn">Created On</span></dt>
                <dd>
                    <span>{{ productItem.createdOn }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.productItem.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ productItem.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.productItem.updatedOn">Updated On</span></dt>
                <dd>
                    <span>{{ productItem.updatedOn }}</span>
                </dd>
                <dt><span jhiTranslate="jiotmsappApp.productItem.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{ productItem.updatedBy }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-item', productItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
