<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-trip-heading" jhiTranslate="jiotmsappApp.trip.home.createOrEditLabel">Create or edit a Trip</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.customTripNumber" for="field_customTripNumber">Custom Trip Number</label>
                    <input type="text" class="form-control" name="customTripNumber" id="field_customTripNumber"
                           formControlName="customTripNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.tripType" for="field_tripType">Trip Type</label>
                    <select class="form-control" name="tripType" formControlName="tripType" id="field_tripType">
                        <option value="PICKUP">{{ 'jiotmsappApp.TripType.PICKUP' | translate }}</option>
                        <option value="RETURN">{{ 'jiotmsappApp.TripType.RETURN' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.shipmentNumber" for="field_shipmentNumber">Shipment Number</label>
                    <input type="text" class="form-control" name="shipmentNumber" id="field_shipmentNumber"
                           formControlName="shipmentNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.orderNumber" for="field_orderNumber">Order Number</label>
                    <input type="text" class="form-control" name="orderNumber" id="field_orderNumber"
                           formControlName="orderNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.bol" for="field_bol">Bol</label>
                    <input type="text" class="form-control" name="bol" id="field_bol"
                           formControlName="bol"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.pickup" for="field_pickup">Pickup</label>
                    <div class="input-group">
                        <input id="field_pickup" type="text" class="form-control" name="pickup" ngbDatepicker #pickupDp="ngbDatepicker" formControlName="pickup"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="pickupDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.drop" for="field_drop">Drop</label>
                    <div class="input-group">
                        <input id="field_drop" type="text" class="form-control" name="drop" ngbDatepicker #dropDp="ngbDatepicker" formControlName="drop"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dropDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.currentLocation" for="field_currentLocation">Current Location</label>
                    <input type="text" class="form-control" name="currentLocation" id="field_currentLocation"
                           formControlName="currentLocation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="CREATED">{{ 'jiotmsappApp.StatusEnum.CREATED' | translate }}</option>
                        <option value="PICKEDUP">{{ 'jiotmsappApp.StatusEnum.PICKEDUP' | translate }}</option>
                        <option value="ONROAD">{{ 'jiotmsappApp.StatusEnum.ONROAD' | translate }}</option>
                        <option value="DELIVERED">{{ 'jiotmsappApp.StatusEnum.DELIVERED' | translate }}</option>
                        <option value="INVOICED">{{ 'jiotmsappApp.StatusEnum.INVOICED' | translate }}</option>
                        <option value="COMPLETED">{{ 'jiotmsappApp.StatusEnum.COMPLETED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.detention" for="field_detention">Detention</label>
                    <input type="number" class="form-control" name="detention" id="field_detention"
                           formControlName="detention"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.chasisInTime" for="field_chasisInTime">Chasis In Time</label>
                    <div class="d-flex">
                        <input id="field_chasisInTime" type="datetime-local" class="form-control" name="chasisInTime" formControlName="chasisInTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.orderDocument" for="field_orderDocument">Order Document</label>
                    <div>
                        <div *ngIf="editForm.get('orderDocument')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('orderDocumentContentType')!.value, editForm.get('orderDocument')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('orderDocumentContentType')!.value }}, {{ byteSize(editForm.get('orderDocument')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({orderDocument: null});editForm.patchValue({orderDocumentContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_orderDocument" (change)="setFileData($event, 'orderDocument', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="orderDocument" id="field_orderDocument"
                           formControlName="orderDocument"/>
                    <input type="hidden" class="form-control" name="orderDocumentContentType" id="field_orderDocumentContentType"
                           formControlName="orderDocumentContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.pod" for="field_pod">Pod</label>
                    <div>
                        <div *ngIf="editForm.get('pod')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('podContentType')!.value, editForm.get('pod')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('podContentType')!.value }}, {{ byteSize(editForm.get('pod')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({pod: null});editForm.patchValue({podContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_pod" (change)="setFileData($event, 'pod', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="pod" id="field_pod"
                           formControlName="pod"/>
                    <input type="hidden" class="form-control" name="podContentType" id="field_podContentType"
                           formControlName="podContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.hazmat" for="field_hazmat">Hazmat</label>
                    <input type="checkbox" class="form-control" name="hazmat" id="field_hazmat"
                           formControlName="hazmat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.refrigerated" for="field_refrigerated">Refrigerated</label>
                    <input type="checkbox" class="form-control" name="refrigerated" id="field_refrigerated"
                           formControlName="refrigerated"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.liftgate" for="field_liftgate">Liftgate</label>
                    <input type="checkbox" class="form-control" name="liftgate" id="field_liftgate"
                           formControlName="liftgate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.recievedBy" for="field_recievedBy">Recieved By</label>
                    <input type="text" class="form-control" name="recievedBy" id="field_recievedBy"
                           formControlName="recievedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.coveredBy" for="field_coveredBy">Covered By</label>
                    <select class="form-control" name="coveredBy" formControlName="coveredBy" id="field_coveredBy">
                        <option value="CompanyDriver">{{ 'jiotmsappApp.COVEREDBY.CompanyDriver' | translate }}</option>
                        <option value="OwnerOperator">{{ 'jiotmsappApp.COVEREDBY.OwnerOperator' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.loadType" for="field_loadType">Load Type</label>
                    <select class="form-control" name="loadType" formControlName="loadType" id="field_loadType">
                        <option value="REEFER">{{ 'jiotmsappApp.LoadType.REEFER' | translate }}</option>
                        <option value="FLATBED">{{ 'jiotmsappApp.LoadType.FLATBED' | translate }}</option>
                        <option value="LTL">{{ 'jiotmsappApp.LoadType.LTL' | translate }}</option>
                        <option value="DRYVAN">{{ 'jiotmsappApp.LoadType.DRYVAN' | translate }}</option>
                        <option value="FLAT_DECK">{{ 'jiotmsappApp.LoadType.FLAT_DECK' | translate }}</option>
                        <option value="CONTAINER">{{ 'jiotmsappApp.LoadType.CONTAINER' | translate }}</option>
                        <option value="POWERONLY">{{ 'jiotmsappApp.LoadType.POWERONLY' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.containerSize" for="field_containerSize">Container Size</label>
                    <select class="form-control" name="containerSize" formControlName="containerSize" id="field_containerSize">
                        <option value="C53">{{ 'jiotmsappApp.SizeEnum.C53' | translate }}</option>
                        <option value="C43">{{ 'jiotmsappApp.SizeEnum.C43' | translate }}</option>
                        <option value="C20">{{ 'jiotmsappApp.SizeEnum.C20' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.numbersOfContainer" for="field_numbersOfContainer">Numbers Of Container</label>
                    <input type="number" class="form-control" name="numbersOfContainer" id="field_numbersOfContainer"
                           formControlName="numbersOfContainer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                           formControlName="comments"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.autoGenerateInvoice" for="field_autoGenerateInvoice">Auto Generate Invoice</label>
                    <input type="checkbox" class="form-control" name="autoGenerateInvoice" id="field_autoGenerateInvoice"
                           formControlName="autoGenerateInvoice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.createdOn" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" formControlName="createdOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.updatedOn" for="field_updatedOn">Updated On</label>
                    <div class="d-flex">
                        <input id="field_updatedOn" type="datetime-local" class="form-control" name="updatedOn" formControlName="updatedOn" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.pickupLocation" for="field_pickupLocation">Pickup Location</label>
                    <select class="form-control" id="field_pickupLocation" name="pickupLocation" formControlName="pickupLocation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === editForm.get('pickupLocation')!.value?.id ? editForm.get('pickupLocation')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{ locationOption.address }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.dropLocation" for="field_dropLocation">Drop Location</label>
                    <select class="form-control" id="field_dropLocation" name="dropLocation" formControlName="dropLocation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === editForm.get('dropLocation')!.value?.id ? editForm.get('dropLocation')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{ locationOption.address }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption" *ngFor="let customerOption of customers; trackBy: trackById">{{ customerOption.email }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.driver" for="field_driver">Driver</label>
                    <select class="form-control" id="field_driver" name="driver" formControlName="driver">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="driverOption.id === editForm.get('driver')!.value?.id ? editForm.get('driver')!.value : driverOption" *ngFor="let driverOption of drivers; trackBy: trackById">{{ driverOption.firstName }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.equipment" for="field_equipment">Equipment</label>
                    <select class="form-control" id="field_equipment" name="equipment" formControlName="equipment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="equipmentOption.id === editForm.get('equipment')!.value?.id ? editForm.get('equipment')!.value : equipmentOption" *ngFor="let equipmentOption of equipment; trackBy: trackById">{{ equipmentOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jiotmsappApp.trip.carrier" for="field_carrier">Carrier</label>
                    <select class="form-control" id="field_carrier" name="carrier" formControlName="carrier">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="carrierOption.id === editForm.get('carrier')!.value?.id ? editForm.get('carrier')!.value : carrierOption" *ngFor="let carrierOption of carriers; trackBy: trackById">{{ carrierOption.company }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
