<div>
    <h2 id="page-heading">
        <span jhiTranslate="jiotmsappApp.contact.home.title">Contacts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contact" [routerLink]="['/contact/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jiotmsappApp.contact.home.createLabel">
            Create a new Contact
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contacts?.length === 0">
        <span jhiTranslate="jiotmsappApp.contact.home.notFound">No contacts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contacts && contacts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.firstName">First Name</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.lastName">Last Name</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.contactDesignation">Contact Designation</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.phoneNumber">Phone Number</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.remarks">Remarks</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.preferredTime">Preferred Time</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.createdOn">Created On</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.updatedOn">Updated On</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.updatedBy">Updated By</span></th>
                    <th scope="col" ><span jhiTranslate="jiotmsappApp.contact.customer">Customer</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts ;trackBy: trackId">
                    <td><a [routerLink]="['/contact', contact.id, 'view']">{{ contact.id }}</a></td>
                    <td>{{ contact.firstName }}</td>
                    <td>{{ contact.lastName }}</td>
                    <td jhiTranslate="{{ 'jiotmsappApp.Designation.' + contact.contactDesignation }}">{{ contact.contactDesignation }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>{{ contact.remarks }}</td>
                    <td>{{ contact.preferredTime }}</td>
                    <td>{{ contact.createdOn | date:'medium' }}</td>
                    <td>{{ contact.createdBy }}</td>
                    <td>{{ contact.updatedOn | date:'medium' }}</td>
                    <td>{{ contact.updatedBy }}</td>
                    <td>
                        <div *ngIf="contact.customer">
                            <a [routerLink]="['/customer', contact.customer?.id, 'view']" >{{ contact.customer?.company }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contact', contact.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contact', contact.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contact)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
